.c-cookiewall {
  &__outer-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 11;
    background-color: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
  }

  &__inner-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: calc(100% - 40px);
    max-width: 900px;
    gap: 24px;
    padding: 80px;
    background-color: $c-tertiary;

    @media (max-width: $bp-mobile) {
      padding: 20px;
    }
  }
  &__privacy-link {
    color: $c-secondary !important;
    &:hover {
      text-decoration: underline;
    }
  }
  &__message-title {
    color: $c-text-inverse;
    text-transform: uppercase;
    margin: 0;
    word-break: break-word;
    hyphens: auto;

    @media (max-width: $bp-mobile) {
      font-size: 25px;
    }
  }
  &__message-text {
    a {
      color: $c-secondary;
      font-weight: bold;
      text-decoration: underline;
    }
    margin: 0;
  }
  &__form {
    max-height: 40px;
    transition: max-height 0.3s ease-in;
    &.--active {
      max-height: 250px;
    }
    @media (max-width: $bp-mobile) {
      max-height: 180px;
      &.--active {
        max-height: 390px;
      }
    }
  }
  &__button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    @media (max-width: $bp-mobile) {
      flex-direction: column;
    }
  }
  &__button {
    width: 100%;
    line-height: unset;
    padding: 16px !important;
    border-radius: 64px !important;
    border: none;

    &.accept-options {
      opacity: 0;
      transition:
        opacity 300ms,
        margin 0.3s;
      margin: 0;
      width: 100%;
      &.--active {
        opacity: 1;
        transition:
          opacity 300ms,
          margin 0.3s;
      }
    }

    @media (max-width: $bp-tablet) {
      font-size: smaller;
      width: 100%;
    }
  }

  &__preferences {
    display: flex;
    width: 100%;
    font-size: 15px;
    label {
      margin: 0;
    }

    @media (max-width: $bp-mobile) {
      font-size: 10px;
    }
  }
  &__cookie-consent-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition:
      opacity 300ms,
      margin 1s;
    opacity: 0;
    height: fit-content;
    padding: 10px;
    margin-top: 16px;

    &.form-active {
      transition:
        opacity 300ms,
        margin 1s;
      opacity: 1;
      padding: 10px;
      margin-bottom: 0% !important;
    }
  }
  &__input-container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  &__input {
    display: none;
  }
  &__input + label {
    color: $c-text-inverse !important;
    line-height: 1;
    display: flex;
    align-items: center;
  }
  &__input-checkmark {
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid $c-primary;
    border-radius: 3px;
    margin-right: 8px;
    cursor: pointer;
    background-color: white;

    @media (max-width: $bp-mobile) {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }
  &__input:checked + label > span:after {
    content: '';
    width: 4px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    border: solid $c-primary;
    border-width: 0 2px 2px 0;
    @media (max-width: $bp-mobile) {
      width: 3px;
      height: 10px;
    }
  }
  &__input:disabled:checked + label > span:after {
    content: '';
    width: 4px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    border: solid grey;
    border-width: 0 2px 2px 0;
    @media (max-width: $bp-mobile) {
      width: 3px;
      height: 10px;
    }
  }
}
