.c-file-field {
  &__container {
    display: flex;
    flex-direction: column;
    position: relative;

    &.--full-width-input {
      grid-column: 1/3;

      textarea {
        height: 100%;
        border-radius: 30px;
        color: $c-secondary;
      }
    }
    @media (max-width: $bp-mobile) {
      margin-bottom: 24px;
    }

    label.file {
      background-color: $c-primary;
      padding: 15px 60px;
      border-radius: 4px;
      text-transform: unset;
      position: relative;
      color: white !important;
      margin: 0;
      cursor: pointer;
      margin-bottom: 8px;

      &::before {
        position: absolute;
        content: '';
        background-image: url('/circle8-upload.svg');
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        top: 50%;
        transform: translateY(-50%);
        left: 1.5rem;
      }

      &:hover {
        outline: 2px solid $c-white;
      }
    }

    input[type='file'] {
      display: none;
    }
  }

  &__file_notice {
    // position: absolute;
    color: silver;
    bottom: -24px;
    &__hide {
      display: none;
    }
  }
}
